:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
	--content-width: 1200px;
	--tablet-width: 768px;
	--mobile-big-width: 414px;
	--mobile-small-width: 320px;
}

/* 
@font-face {
	font-family: "Georgia";
	font-style: normal;
	src: url(../../fonts/georgia/georgia-regular.ttf);
}

@font-face {
	font-family: "Arial-narrow";
	font-style: normal;
	src: url(../../fonts/arial/arial-narrow.ttf);
}*/

@font-face {
	font-family: "Arial";
	font-style: normal;
	src: url(fonts/arial-regular.ttf);
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.page {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

header {
	width: 100%;
	/* margin: 20px; */
	padding: 20px;
	display: flex;
	justify-content: space-between;
	color: var(--color-primary-light);
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.form-container {
	padding: 20px;
}

form {
	padding: 20px;
	display: flex;
	justify-content: center;
	column-gap: 10px;
}

/* .wrapper {
	/* margin: 0 auto;
	height: 100%; */
/* height: 100vh; */

/* height: 95%; */
/* margin-left: 20px;
	margin-right: 20px; */
/* width: 100%; */
/* display: flex;
	flex-direction: column;
	flex: 1 0 auto; */
/* justify-content: center;
	align-items: center; */
/* } */

.wrapper {
	margin-left: 20px;
	margin-right: 20px;
	line-height: 150%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.rules {
	margin-top: 5rem;
}

.results_header {
	width: 100%;
	display: grid;
	padding: 0 30%;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	gap: 10px;
	/* grid-auto-rows: minmax(100px, auto); */
	justify-content: center;
	justify-items: center;
}

.results {
	width: 100%;
	display: grid;
	padding: 0 30%;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	gap: 10px;
	/* grid-auto-rows: minmax(100px, auto); */
	justify-content: center;
	justify-items: center;
}

.rules-container {
	display: none;
	width: 400px;
	/* height: 400px; */
}

.active {
	display: block;
	/* margin: 50px; */
	background-color: #fddcc4;
	border-width: 2px;
	border-color: #4c4c4c;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	padding: 2rem;
	/* transform: translateX(-330px);
	transition: transform 5s linear; */
	/* height: 100%; */
	/* opacity: 1; */
	/* opacity: 1; */
}

.modal-open {
	overflow-y: hidden;
}

.overlay-on {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: rgb(106, 99, 99);
	opacity: 0.5;
	z-index: 1;
}

footer {
	width: 100%;
	height: 40px;
	flex: 0 0 auto;
	background-color: #fddcc4;
}

.foot-list {
	width: 100%;
	margin: 0;
	padding: 0 10rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}